<div><h2>Nitrogen solutions for food security amid fertilizer shortages and climate change</h2>

    <p>Nitrogen requirements and usage vary across maize, wheat and rice systems in Ethiopia, Malawi and India. Analysis of these systems indicates that targeted nutrient management strategies could increase the efficiency of nitrogen usage, helping to address fertilizer shortages and reduce the negative environmental impacts of excess nitrogen.</p>
    
    <h2>References</h2>
    <ol><li>
        Alexander, P. et al. High energy and fertilizer prices are more damaging than food export curtailment from Ukraine and Russia for food prices, health and the environment. Nat. Food 4, 84–95 (2023). An article that highlights the negative impacts of conflict-induced high fertilizer and energy costs.
    <br>
        <a href="https://www.nature.com/articles/s43016-022-00659-9">Article</a>
    </li>
    <li>Tesfaye, K. et al. Model comparison and quantification of nitrous oxide emission and mitigation potential from maize and wheat fields at a global scale. Sci. Total Environ. 782, 146696 (2021). A global analysis of the environmental impacts and mitigation potential associated with nitrogen fertilization of staple cereals.
    <br>
        <a href="https://www.sciencedirect.com/science/article/pii/S0048969721017642?via%3Dihub">Article</a>
    </li>
    <li>
        Mueller, N. D. et al. A tradeoff frontier for global nitrogen use and cereal production. Environ. Res. Lett. 9, 054002 (2014). This article evaluates whether it is possible to achieve high cereal yields while minimizing nitrogen requirements.
    <br>
    
        <a href="https://iopscience.iop.org/article/10.1088/1748-9326/9/5/054002">Article</a>
    </li>
    </ol></div>



    <div>
        <h2>State of global land regulation inadequate to control biofuel land-use-change emissions</h2>
    
    
    <p>Under current land-use regulation, carbon dioxide emissions from biofuel production exceed those from fossil diesel combustion. Therefore, international agreements need to ensure the effective and globally comprehensive protection of natural land before modern bioenergy can effectively contribute to achieving carbon neutrality.</p>
    

    <h2>Recommendations for policy</h2>
    <h5>--------------------------------------------------</h5>
    <p>>>Pushing for globally comprehensive land protection is the most effective way to reduce the high indirect land-use-change emissions associated with modern biofuel production from energy crops.

        >>A price on all CO2 emissions from land clearing — not limited to direct bioenergy-related land conversion — is an effective and efficient instrument to protect land and reduce emissions from biofuels.
        
       >>Pricing all land carbon pools even at a substantial discount below the energy sector CO2 price is more effective than a full protection scheme that covers only 90% of all forests globally.
        
       >>Given the deficiencies of current global land protection, indirect greenhouse gas emissions from biofuels need to be regulated as stringently as greenhouse gas emissions from fossil fuels.
        
        >>Combining biofuel production with carbon capture and storage can mitigate the high emissions, but even then, biofuels have a negative climate balance on a 30-year time horizon.</p>
    
    
    <h2>Further reading</h2>


    <ol><li>

        Wise, M. et al. Implications of limiting CO2 concentrations for land use and energy. Science 324, 1183–1186 (2009). This study showed how bioenergy in an uncontrolled land-use system leads to massive land-use-change CO2 emissions that are self-amplifying due to feedback with the energy sector, where the lower remaining carbon budget increases the demand for bioenergy.
    
    <a href="https://www.science.org/doi/10.1126/science.1168475">Article</a>
    </li>
    <li>
        Yeh, S., Witcover, J., Lade, G. E. & Sperling, D. A review of low carbon fuel policies: principles, program status and future directions. Energy Policy 97, 220–234 (2016). This study gives an overview of the status of low-carbon fuel standards (in particular biofuel policies) and shows that current policies aimed at promoting biofuels to reduce carbon emissions rely on specific biofuel EFs (‘carbon intensity standards’).
    
    <a href="https://www.sciencedirect.com/science/article/abs/pii/S0301421516303901?via%3Dihub">Article</a>
    
    </li></ol>
    </div>