<!DOCTYPE html>




<html lang="en">




<head>




    <meta charset="UTF-8">




    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <title>Home page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="home.component.css">




</head>




<body>





 <div class="bg">






     <div class="content">



        

        <h1>Welcome to "Farm Easy"</h1>
        
              <p>Agriculture is the Indian economy’s most important sector, and India’s farm sector is the largest industry.
        
                 Our Farmeasy website facilitates farmers to buy the agriculture Machinaries and crops with better quality
        
                 and affordable price , they can easily order the products . And also they can stay update to the modern
        
                 techniques in agriculture.<br><br><br><br>

              <a class="button" routerLink="/login"><span></span>Login</a>

              <a class="button" routerLink="/register"><span></span>Register</a>







<br><br>







   




       




      </div>




</div>







</body>




</html>